body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}
a{
    color: white;
    text-decoration: none;
}
h1{
    color: green;
}
h2{
    color: red;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid red;
}
.center{
    text-align: center;

}
